SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FTB3L8SI", SYMLINK="vaisala", MODE="0666", TAG+="systemd" ENV{SYSTEMD_WANTS}="goto-vaisalad.service"
