SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FT1FL3QT", SYMLINK="vaisala", MODE="0666", TAG+="systemd" ENV{SYSTEMD_WANTS}="vaisalad.service"
