SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FTYQH2HQ", SYMLINK="vaisala", MODE="0666", TAG+="systemd" ENV{SYSTEMD_WANTS}="vaisalad.service"
