[Unit]
Description=Daemon for exposing an attached Vaisala WXT530 weather station via Pyro.
After=syslog.target
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/env python3 -u /usr/bin/vaisalad /etc/vaisalad/goto.json
StandardOutput=syslog
StandardError=syslog

