[Unit]
Description=Daemon for exposing an attached Vaisala WXT520 weather station via Pyro.
After=syslog.target
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/env python3.6 -u /usr/bin/vaisalad /etc/vaisalad/onemetre.json
ExecStartPost=/usr/bin/env python3.6 -u /usr/bin/obslog info vaisalad Started by systemd
ExecStopPost=/usr/bin/env python3.6 -u /usr/bin/obslog info vaisalad Stopped by systemd
StandardOutput=syslog
StandardError=syslog

