[Unit]
Description=Resets the Vaisala rain counter daily at 12:00

[Timer]
OnCalendar=*-*-* 12:00:00
Unit=vaisala-reset-rain.target

[Install]
WantedBy=basic.target
