[Unit]
Description=Resets the Vaisala rain counter daily at 12:00
Wants=vaisala-reset-rain.timer

[Service]
ExecStart=/usr/bin/vaisala zerorain

[Install]
WantedBy=vaisala-reset-rain.target
