[Unit]
Description=Daemon for exposing an attached Vaisala WXT520 weather station via Pyro.
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/vaisalad
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target